# Игнорирование файлов Excel
*.xlsx
*.xls

# Игнорирование папки с данными
/data/

# Игнорирование файла соответствий
/data/item_mapping.json

# Игнорирование виртуального окружения
/venv/

# Игнорирование кэша Python
__pycache__/
*.py[cod]
*$py.class

# Игнорирование временных файлов
*.bak
*.tmp
*~

# Игнорирование логов
*.log
